@model ReservaDeCanchas.Negocio.ViewModels.HorarioViewModel

<div class="table-responsive">
    <table class="table table-bordered table-hover" id="tablaHorarios">
        <thead>
            <tr>
                <th>Hora</th>
                @foreach (var dia in Model.semana)
                {
                    <th>@dia.textoDia</th>

                }


            </tr>
        </thead>
        <tbody>
            @for (int i = 8; i < 23; i++)
            {

                <tr>
                    <td>@string.Format("{0}:00", i)</td>
                    @foreach (var dia in Model.semana)
                    {
                        var fechaCompara = new DateTime(dia.fecha.Year, dia.fecha.Month, dia.fecha.Day, i, 0, 0);

                        if (Model.Reservas.Where(o => o.FechaHoraAlquiler == fechaCompara && o.Estado == "P").Any())
                        {
                            <td class="danger">Por Pagar</td>
                        }
                        else if (Model.Reservas.Where(o => o.FechaHoraAlquiler == fechaCompara && o.Estado == "R").Any())
                        {
                            <td class="success">Reservador</td>
                        }
                        else if (Model.Reservas.Where(o => o.FechaHoraAlquiler == fechaCompara && o.Estado == "B").Any())
                        {
                            <td class="active">Bloqueado</td>
                        }
                        else if (i - 1 < DateTime.Now.Hour && dia.fecha.Date == DateTime.Now.Date)
                        {
                            <td class="active">Bloqueado</td>
                        }
                        else
                        {
                            <td>
                                @*@Html.ActionLink("Libre", "Reservar",new DatosRC.ADO.ReservaSet { FechaHoraAlquiler = new DateTime(dia.fecha.Year,dia.fecha.Month,dia.fecha.Day,i,0,0),
                                    MontoAlquiler = 160 , MontoPagado = 0, Campo_Id = Model.campo.Id})*@
                                <a href="#" type="button" data-toggle="modal" data-target="#myModal">
                                    <div class="horarioLibre" fecha-Alquiler="@dia.fecha.ToString("dd/MM/yyyy")" hora="@i" idCampo="@Model.idCampo">Libre</div>
                                </a>
                            </td>
                        }

                    }
                </tr>
            }
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Reservar</h4>
            </div>
            @using (Html.BeginForm("ReservarCrear", "CamposReservar", FormMethod.Post))
            {
                <div class="modal-body">

                    <div class="form-group">
                        <label for="ifechaAlquiler">Fecha de Alquiler</label>
                        <input type="text" class="form-control" name="ifechaAlquiler" id="ifechaAlquiler" value="" />
                    </div>
                    <div class="form-group">
                        <label for="iHora">Hora de Alquiler</label>
                        <input type="text" class="form-control" name="iHora" id="iHora" value="" />
                    </div>
                    <div class="form-group">
                        <label for="iFechaVencimiento">Fecha de vencimiento</label>
                        <input type="text" class="form-control" name="iFechaVencimiento" id="iFechaVencimiento" value="@DateTime.Now.AddDays(1).ToString("dd/MM/yyyy HH:mm")" />
                    </div>
                    <input type="hidden" name="iIdCampo" id="iIdCampo" value="" />

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Realizar Reserva</button>
                </div>
            }

        </div>
    </div>
</div>


