@model ReservaDeCanchas.Models.CampoDetalleViewModel


@{
    ViewBag.Title = "Horarios";
}

<h2>Horarios</h2>

<div>
    <h4>CampoSet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.campo.Tipo_campoSet.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.campo.Tipo_campoSet.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.campo.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.campo.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.campo.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.campo.Descripcion)
        </dd>



    </dl>
</div>


<div class="row">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Hora</th>
                @foreach (var dia in Model.semana)
                {
                    <th>@dia.textoDia</th>
                
                }


            </tr>
        </thead>
        <tbody>
            @for(int i = 8; i<23; i++)
            {
                
                <tr>
                    <td>@string.Format("{0}:00", i)</td>
                    @foreach (var dia in Model.semana)
                    {
                        if(Model.reservas.Where(r=> r.FechaHoraAlquiler.Date == dia.fecha.Date && r.FechaHoraAlquiler.Hour == i).Count()>0)
                        {
                            <td  class="success">Reservado</td>
                        }
                        else
                        {
                            <td>Libre</td>
                        }

                    }
                </tr>
            }
        </tbody>
    </table>
</div>
<p>
   
    @Html.ActionLink("Back to List", "Index")
</p>
