@model ReservaDeCanchas.Negocio.ViewModels.CampoReservaViewModel


@{
    ViewBag.Title = "Horarios";
}

<h2>Horarios</h2>

<div>
    <h4>CampoSet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TipoCampo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoCampo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>



    </dl>
</div>

<div class="row">
    @using (Ajax.BeginForm("HorariosResultado", "CamposReservar",
                                        new AjaxOptions
                                        {
                                            HttpMethod = "Get",
                                            InsertionMode = InsertionMode.Replace,
                                            UpdateTargetId = "horariosEncontrados",
                                            
                                        },
                                        new
                                        {
                                            id = "BuscaEventosForm",
                                            @class = "form-inline"
                                        }
                                        ))
    {
     <div class="row">
        
            
                 
                 <div class="form-group">
                     <input type="date"
                            id="FechaInicio"
                            name="FechaInicio"
                            value="@DateTime.Now.Date.ToString("yyyy-MM-dd")" min="@DateTime.Now.Date.ToString("yyyy-MM-dd")"
                            max="@DateTime.Now.Date.AddDays(14).ToString("yyyy-MM-dd")" 
                            class="form-control" />
                     <input type="hidden" name="campoId" value="@Model.id" />

                     
                 </div>
         <button id="BtnAnterio" type="button" class="btn btn-default">Anterior</button>
         <button id="BtnSiguiente" type="button" class="btn btn-default">Siguiente</button>
           
        
        </div>
  
    }
        </div>
<p>
    <div id="horariosEncontrados" class="row">
        @Html.Partial("_HorarioDetalle", Model);
    </div>
</p>



@section Scripts{
 
    @Scripts.Render("~/bundles/unobtrusiveajax")
    @Scripts.Render("/bundles/FechasHorarios")
}