@model IEnumerable<ReservaDeCanchas.Negocio.ViewModels.MisReservasViewModel>

@{
    ViewBag.Title = "Mis Reservas";
}

<h2>Mis Reservas</h2>
@if (Model.Any())
{


    <div class="row">
        <div class="panel-group col-lg-8" id="accordion" role="tablist" aria-multiselectable="true">
            @foreach (var item in Model)
            {
                <div class="panel panel-warning">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#@item.idReserva" aria-expanded="false" aria-controls="@item.idReserva">
                                @item.NombreCampo <br /> <span class="glyphicon glyphicon-time"></span>@item.FechaHoraAlquiler
                            </a>
                        </h4>
                    </div>
                    <div id="@item.idReserva" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <div>
                                <dl class="dl-horizontal">
                                    <dt>
                                        @Html.DisplayNameFor(model => model.NombreCampo)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(modelItem => item.NombreCampo)
                                    </dd>
                                    <dt>
                                        @Html.DisplayNameFor(model => model.Estado)
                                    </dt>
                                    <dd>
                                        @switch (Html.DisplayFor(modelItem => item.Estado).ToString())
                                        {
                                            case "P":
                                                <span class="label label-primary">Pendiente</span>
                                                break;
                                            case "A":
                                                <span class="label label-warning">Pagado</span>
                                                break;
                                            case "R":
                                                <span class="label label-success">Reservado</span>
                                                break;
                                            case "T":
                                                <span class="label label-default">Terminado</span>
                                                break;
                                            default:
                                                <span class="label label-danger">Error</span>
                                                break;

                                        }
                                    </dd>
                                    <dt>
                                        @Html.DisplayNameFor(model => model.FechaHoraAlquiler)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(modelItem => item.FechaHoraAlquiler)
                                    </dd>
                                    <dT>
                                        @Html.DisplayNameFor(model => model.montoAlquiler)
                                    </dT>
                                    <dd>
                                        @Html.DisplayFor(modelItem => item.montoAlquiler)
                                    </dd>
                                    <dt>
                                        @Html.DisplayNameFor(model => model.montoPagado)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(modelItem => item.montoPagado)
                                    </dd>
                                    <dt>
                                        @Html.DisplayNameFor(model => model.fechaVencimiento)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(modelItem => item.fechaVencimiento)
                                    </dd>

                                </dl>
                            </div>

                            @Html.ActionLink("Agregar Pago", "AgregarPAgo", new { id = item.idReserva },
                   new
                   {
                       @class = "btn btn-default btn-xs",
                       role = "button"
                   })
                            <button type="button" class="btn btn-danger btn-xs">Cancelar</button>
                            @if(item.Pagos.Any())
                            {
                            <div class="row">
                                <table class="table table-bordered">
                                     <thead>
                                     <tr> 
                                        <th>ID</th> 
                                        <th>Tipo de Pago</th> 
                                        <th>Descripción</th> 
                                        <th>Estado</th> 
                                        <th>Monto</th>
                                        <th>Opciones</th>
                                     </tr> 
                                    </thead> 
                                    <tbody> 
                                        @foreach (var item2 in item.Pagos)
                                        {
                                            <tr>
                                                <th scope="row">@item2.PagoId</th>
                                                <td>@item2.TipoPago</td>
                                                <td>@item2.Descripcion</td>
                                                 @switch (item2.Estado)
                                                 {
                                                    case "P":
                                                    <td>Pendiente</td>
                                                            break;
                                                    case "R":
                                                        <td>Rechazado</td>
                                                         break;
                                                     case "A":
                                                        <td>Acepteado</td>
                                                         break;
                                                     default:
                                                        <td>Error</td>
                                                         break;
                                                 }


                                                                <td>@item2.Monto</td>


                                                                <td> Eliminar</td>


                                                            </tr>
                                        }



                                   </tbody>
                                </table>
                            </div>
                            }
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>
}
                                                 else
                                                 {
    <h1>No Tiene reservas</h1>
                                                 }
