@model DatosRC.ADO.ReservaSet
@{
    ViewBag.Title = "Reservar";
}

<h2>Reservar el campo @Model.CampoSet.Nombre </h2>

<div class="row">
    @using (Html.BeginForm())
    {
        <div class="form-group">
            @Html.LabelFor(m => m.FechaHoraAlquiler, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.FechaHoraAlquiler, new { @class = "form-control", disabled = true})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.FechaHoraVencimiento, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                <input value="@Model.FechaHoraVencimiento" class="form-control" disabled/>
             
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.MontoPagado, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.MontoPagado, new { @class = "form-control", disabled = true })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.MontoAlquiler, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.MontoAlquiler, new { @class = "form-control", disabled = true })
            </div>
        </div>

        <div class="form-group">
           
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Confirmar Reserva" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

</div>

